body{
  margin: 0;
  padding: 0;
}
.center{
  text-align: center;
}
.aula{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.aula .container{
  max-width: 250px;
  margin: 0 auto;
  display: flex;
  border-width: 1px;
  border-color: #aaaaaa;
  border-style: solid;
  flex-wrap: wrap;
}
.aula .container .item{
  background-color: cornflowerblue;
  margin: 5px;
  color: #ffffff;
  text-align: center;
}
.aula-2 .container{
  flex-wrap: wrap-reverse;
}
.aula-3 .container{
  flex-wrap: nowrap;
}

