body{
  padding: 0;
  margin: 0;
}
.container{
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.container .item{
  background-color: cyan;
  flex: 1;
  margin: 5px;
  text-align: center; 
}
@media screen and (min-width: 320px){
  .container{
    width: 90%;
  }
}
